html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: 1px dashed blue;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #acd8d8;
  color: #e11717;
}

header nav img {
  display: block;
  padding: 1em;
  cursor: pointer;
}

header nav img:hover {
  filter: brightness(110%);
}

header nav span {
  display: block;
  padding: 1em;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(#e0f0f0, #78c0c0);
}

header nav span:hover {
  filter: brightness(110%);
}

main section {
  padding: 2em;
}

main section h1 {
  color: #e11717;
}

main section h2 {
  color: #CC3366;
}

main section details {
  margin-top: 1em;
}

main section details summary {
  font-weight: bold;
}

main section details summary::marker {
  color: #e11717;
}

main section details[open] {
  border-bottom: 1px solid #e11717;
  padding: 1em;
}

main section dl {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  column-gap: 0px;
  row-gap: 1em;
}

main section dl dt {
  border: 1px solid #e0f0f0;
  padding: 1em;
  background-color: #e0f0f0;
}

main section dl dd {
  border: 1px solid #e0f0f0;
  padding: 1em;
  margin: 0;
}

main section figure {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

main section figure img {
  height: 20em;
}

#syntaxeScubes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #e11717;
  text-align: center;
  margin-top: 2em;
  padding: 0.5em;
}

footer a {
  color: #e11717;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
