$sc_color: #e11717;
$header_background:#acd8d8;


@mixin menu{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center ;
	>*{
		cursor:pointer;
		&:hover{
			filter: brightness(120%);
		}
	}
}

html{
	height:100%;
}

body{
	height:100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	outline: 1px dashed blue;
}

header nav{
	@include menu;
	background-color: $header_background;
	color: $sc_color;
	img{
		display: block;
		padding: 1em;
	}span{
		display: block;
		padding: 1em;
		background: linear-gradient(lighten($header_background,15%), darken($header_background,15%));
	}
}

main{
	section{
		padding: 2em;
		h1{
			color: $sc_color;
		}h2{
			color: #CC3366;
		}details{
			margin-top: 1em;
			summary{
				font-weight: bold;
				&::marker {
					color: $sc_color;
				}
			}&[open]{
				border-bottom: 1px solid $sc_color ;
				padding: 1em;
			}
		}dl{
			display: grid;
			grid-template-columns: 0.5fr 1.5fr;
			column-gap: 0px;
			row-gap: 1em;
			dt{
				border: 1px solid lighten($header_background,15%) ;
				padding:1em;
				background-color:lighten($header_background,15%);
			}
			dd{
				border: 1px solid lighten($header_background,15%) ;
				padding:1em;
				margin:0;
			}
		}
	}
}

footer{
	display:flex;
	justify-content: space-around;
	align-items: center ;
	color: $sc_color;
	text-align: center;
	margin-top: 2em;
	padding: 0.5em;
	a{
		color: $sc_color;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}
