$sc_color: #e11717;
$background_menu:#acd8d8;


@mixin menu{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center ;
	>*{
		cursor:pointer;
		&:hover{
			filter: brightness(120%);
		}
	}
}

body{
	margin: 0;
}

nav{
	@include menu;
	background-color: $background_menu;
	color: $sc_color;
	img{
		display: block;
		padding: 1em;
	}span{
		display: block;
		padding: 1em;
		background: linear-gradient(lighten($background_menu,15%), darken($background_menu,15%));
	}
}

main{
	section{
		padding: 2em;
		h1{
			color: $sc_color;
		}h2{
			color: #CC3366;
		}details{
			margin-top: 1em;
			summary{
				font-weight: bold;
				&::marker {
					color: $sc_color;
				}
			}&[open]{
				border-bottom: 1px solid red ;
				padding: 1em;
			}
		}
	}
}

footer{
	display:flex;
	justify-content: space-around;
	align-items: center ;
	background-color: $background_menu;
	color: $sc_color;
	text-align: center;
	margin-top: 2em;
	padding: 0.5em;
	a{
		color: $sc_color;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}
